[access]
	inheritFrom = ta
[project]
	description = manifest repo is the “super repo” of the AKREC project. It contains two major configuration files:\n\n    yaml denotes which exact upstream RPM packages need to be installed during disk image creation procedure\n    xml file collects the AKREC source repositories which need to be installed, and that from which branch, or exact revision of the repo the delivery package needs to be built
